[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
rst-to-myst = {extras = ["sphinx"], version = "*"}
myst-parser = "*"
sphinx-autobuild = "*"
furo = "*"

[dev-packages]

[requires]
python_version = "3.11"
